openapi: 3.0.3
info:
  title: Health Device Data Transfer FHIR API
  version: "1.0.0"
  description: >
    OpenAPI specification for a Health Device Data Transfer FHIR API (FHIR R4).
    Supports CapabilityStatement, Observation, DeviceMetric, and Device resources.
servers:
  - url: https://api.medical-aid.com/fhir
    description: Example FHIR server

tags:
  - name: Metadata
  - name: Observation
  - name: DeviceMetric
  - name: Device

paths:
  /metadata:
    get:
      tags: [Metadata]
      summary: FHIR CapabilityStatement (public)
      description: >
        Public endpoint (no mTLS) that declares supported FHIR version,
        resources, interactions, search parameters, and profiles.
      responses:
        '200':
          description: CapabilityStatement
          content:
            application/fhir+json:
              examples:
                capabilityJson:
                  summary: Minimal CapabilityStatement (JSON)
                  value:
                    resourceType: CapabilityStatement
                    status: active
                    fhirVersion: "4.0.1"
                    format: ["json","xml"]
                    rest:
                      - mode: server
                        resource:
                          - type: Device
                            profile: "Device_Medical_Aid"
                            interaction:
                              - code: read
                              - code: search-type
                          - type: Observation
                            profile: "Observation_Blood_Glucose"
                            interaction:
                              - code: read
                              - code: search-type
                          - type: Observation
                            profile: "Observation_CGM_Measurement_Series"
                            interaction:
                              - code: read
                              - code: search-type
                          - type: Bundle
                            profile: "BundleSearchSummaryDataMeasurements"
                            interaction:
                              - code: read
                              - code: search-type
          
  /Observation:
    get:
      tags: [Observation]
      summary: Query Observations
      description: >
        Supports querying single values, time series data, and threshold comparisons.
        Data must conform to the `Observation_Blood_Glucose` or `Observation_CGM_Measurement_Series` profiles.
      parameters:
        - in: query
          name: _id
          schema: { type: string }
          description: Observation ID
        - in: query
          name: code
          schema: { type: string }
          description: LOINC code, e.g. http://loinc.org|15074-8
      responses:
        '200':
          description: Bundle of Observation resources
          content:
            application/fhir+json:
              examples:
                observationBloodGlucoseJson:
                  summary: Blood Glucose Observation JSON
                  value:
                    resourceType: Observation
                    id: obs-blood-glucose-001
                    status: final
                    code:
                      coding:
                        - system: http://loinc.org
                          code: "2339-0"
                          display: Glucose [Mass/volume] in Blood
                    effectiveDateTime: "2025-08-28T10:00:00Z"
                    valueQuantity:
                      value: 120
                      unit: mg/dL
                      system: http://unitsofmeasure.org
                      code: mg/dL
                observationCGMJson:
                  summary: CGM Measurement Series Observation JSON
                  value:
                    resourceType: Observation
                    id: obs-cgm-series-001
                    status: preliminary
                    code:
                      coding:
                        - system: http://loinc.org
                          code: "105272-9"
                          display: Glucose [Moles/volume] in Interstitial fluid
                    effectivePeriod:
                      start: "2025-08-28T08:00:00Z"
                      end: "2025-08-28T10:00:00Z"
                    valueSampledData:
                      origin:
                        value: 0
                        unit: mmol/L
                      period: 300
                      data: "5.6 5.8 6.0 5.9 5.7"
            
  /DeviceMetric:
    get:
      tags: [DeviceMetric]
      summary: Query DeviceMetric (restricted)
      description: >
        DeviceMetric resources must conform to the `DeviceMetric_Medical_Aid` profile.
      parameters:
        - in: query
          name: _id
          description: DeviceMetric internal ID
          schema: { type: string }
      responses:
        '200':
          description: DeviceMetric resource
          content:
            application/fhir+json:
              examples:
                deviceMetricJson:
                  summary: DeviceMetric JSON
                  value:
                    resourceType: DeviceMetric
                    id: dm-123
                    type:
                      coding:
                        - system: http://loinc.org
                          code: "15074-8"
                          display: Blood glucose measurement
                    unit:
                      coding:
                        - system: http://unitsofmeasure.org
                          code: "mg/dL"
                          display: milligrams per deciliter
            
        '403':
          description: Forbidden – DeviceMetric not authorized for this client
        '401':
          description: Unauthorized

  /Device:
    get:
      tags: [Device]
      summary: Query Device resources
      description: >
        Retrieve device instances conforming to the `Device_Medical_Aid` profile.
      parameters:
        - in: query
          name: _id
          description: Device ID
          schema: { type: string }
      responses:
        '200':
          description: Bundle of Device resources
          content:
            application/fhir+json:
              examples:
                deviceJson:
                  summary: Device JSON
                  value:
                    resourceType: Bundle
                    type: searchset
                    entry:
                      - resource:
                          resourceType: Device
                          id: dev-123
                          serialNumber: SN123456
                          type:
                            coding:
                              - system: http://snomed.info/sct
                                code: "46702002"
                                display: Glucometer
                          manufacturer: Acme Health
            

  /$search-aggregate-observations:
    post:
      tags: [Observation]
      summary: Custom operation to search aggregate observations
      description: >
        This operation searches for Observations and optionally includes related Device and DeviceMetric resources.
        The result conforms to the `BundleSearchAggregateObservations` profile.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: Observation code to filter by.
                effectivePeriodStart:
                  type: string
                  format: date-time
                  description: Start of the effective period.
                effectivePeriodEnd:
                  type: string
                  format: date-time
                  description: End of the effective period.
      responses:
        '200':
          description: Result bundle containing aggregate Observations and optionally related resources
          content:
            application/fhir+json:
              examples:
                aggregateBundleJson:
                  summary: Aggregate Bundle JSON
                  value:
                    resourceType: Bundle
                    type: collection
                    entry:
                      - resource:
                          resourceType: Observation
                          id: obs-aggregate-1
                          code:
                            coding:
                              - system: http://loinc.org
                                code: "15074-8"
                                display: Glucose [Moles/volume] in Blood
                          valueQuantity:
                            value: 145
                            unit: mg/dL
                            system: http://unitsofmeasure.org
                            code: mg/dL
